<!doctype html>
<html lang="en">
<!-- BOOTSTRAP 4.6 -->

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <title>Hello, world!</title>
</head>

<body>
 <span id="abc"></span>
 <div class="container mt-5" id="ech">
  <div class="row">
   <div class="col-md-4">
    <div class="card">
     <div class="card-header" id="ten_san_pham">
     {{ san_pham.ten_san_pham }}
     </div>
     <div class="card-body">
      <img id="hinh_anh_san_pham" v-bind:src="san_pham.hinh_anh" class="img-thumbnail text-center" style="width: 100%">
      <p class="text-justify" id="noi_dung_san_pham">
       {{san_pham.noi_dung}}
      </p>
      <p>Giá Bán: {{ formatNumber(san_pham.gia_ban) }}</p>
     </div>
     <div class="card-footer text-right">
      <a v-bind:href="san_pham.link" id="link_san_pham" class="btn btn-primary">Mua Sản Phẩm</a>
     </div>
    </div>
   </div>
  </div>
 </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script>

 new Vue({
   el : "#ech",
   data : {
    san_pham : {
     ten_san_pham: "Iphone 14 Sắp Ra Mắt",
     hinh_anh: "https://media.techz.vn/media2019/upload2019/2022/08/25/162312-phones-news-vs-apple-iphone-14-vs-iphone-14-pro-what-s-the-rumoured-difference-image1-uo0vb1ajde.jpeg",
     noi_dung: "Nếu bạn chưa quen với lập trình front-end, không nên bắt đầu bằng việc sử dụng một framework – hãy trang bị cho mình vốn kiến thức cơ bản trước đã.",
     link: "https://google.com",
     gia_ban: 15000000,
    },
   },
   methods: {
    formatNumber(so_format) {
     return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(so_format);
    },
   },
 });

</script>

</html>