<!doctype html>
<html lang="en">
<!-- BOOTSTRAP 4.6 -->

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <title>Hello, world!</title>
</head>

<body>
 <span id="abc"></span>
 <div class="container mt-5" id="ech">
  <div class="row">
   <div class="col-md-4">
    <div class="card">
     <div class="card-header" >
      
     </div>
     <div class="card-body">
      <h1> Chào bạn, {{ho_va_ten}}</h1>
       <input v-model="ho_va_ten" type="text">
     
     </div>
     <div class="card-footer text-right">
      <button v-on:click="remove()" class="btn btn-danger">Remove</button>
      <button v-on:click="add()" class="btn btn-primary">Add</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
new Vue ({
  el  : '#ech',
  data : {
   count : 0,
   ho_va_ten : '',
  },
  methods: {
   add() {
    this.count++;
  },
  remove() {
   this.count--;
  },
 }
});
 
</script>

</html>