<!doctype html>
<html lang="en">
<!-- BOOTSTRAP 4.6 -->

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <title>Hello, world!</title>
</head>

<body>
 <div class="container mt-5" id="ech">
  <div class="row">
   <div class="col-md-4">
    <div class="card">
     <div class="card-header">
      <h1>Chương trình tính điểm</h1>
     </div>
     <div class="card-body">
      <form>
       <div class="form-group">
        <label>Họ Và Tên</label>
        <input v-model="ho_va_ten" type="text" min="0" max="10" class="form-control">
       </div>
       <div class="form-group">
        <label>Nhập điểm chuyên cần</label>
        <input v-model="diem_cc" type="text" min="0" max="10" class="form-control">
       </div>
       <div class="form-group">
        <label>Nhập điểm giữa kỳ</label>
        <input v-model="diem_gk" type="text" min="0" max="10" class="form-control">
       </div>
       <div class="form-group">
        <label>Nhập điểm cuối kỳ</label>
        <input v-model="diem_ck" type="text" min="0" max="10" class="form-control">
       </div>
      </form>
     </div>
     <div class="card-footer text-right">
      <button v-on:click="tinhDiem()" class="btn btn-danger">Tính Điểm</button>
     </div>
    </div>
   </div>
   <div class="col-md-8">
    <table class="table table-bordered">
     <thead>
      <tr>
       <th scope="col">#</th>
       <th scope="col">Họ Và Tên</th>
       <th scope="col">Điểm Chuyên Cần</th>
       <th scope="col">Điểm Giữa Kỳ</th>
       <th scope="col">Điểm Cuối Kỳ</th>
       <th scope="col">Tổng Kết</th>
       <th scope="col">Xếp Loại</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <th scope="row">1</th>
       <td>{{ho_va_ten}}</td>
       <td>{{diem_cc}}</td>
       <td>{{diem_gk}}</td>
       <td>{{diem_ck}}</td>
       <td>{{diem_tk}}</td>
       <td>{{xep_loai}}</td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
 new Vue({
  el: '#ech',
  data: {
   ho_va_ten: '',
   diem_cc: 0,
   diem_gk: 0,
   diem_ck: 0,
   diem_tk: 0,
   xep_loai: '',
  },
  methods: {
   tinhDiem() {
    if ((this.diem_cc > 10 || this.diem_gk > 10 || this.diem_ck > 10) && (this.diem_cc < 0 || this.diem_gk < 0 || this.diem_ck < 0)) {
     this.diem_cc = 0;
     this.diem_gk = 0;
     this.diem_ck = 0;
     this.diem_tk = 0;
    } else {
     this.diem_tk = (this.diem_cc * 1 + this.diem_gk * 1 + this.diem_ck * 1) / 3;
     if (this.diem_tk >= 8) {
      this.xep_loai = 'Giỏi';
     } else if (this.diem_tk > 6.5) {
      this.xep_loai = 'Khá';
     } else {
      this.xep_loai = 'Trung Bình';
     }
    }
   },
  },
 });

</script>

</html>